html,
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}
.App {
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#sidebar {
  flex-basis: 5rem;
  text-align: center;
  background: #f5f5f5;
  overflow-y: auto;
  div {
    cursor: pointer;
    padding: 0.5rem 1rem;
    &:hover {
      background: #d5cff566;
    }
    &.active {
      background: #d5cff5;
    }
  }
}

#content {
  overflow-y: auto;
  flex-basis: auto;
  padding: 3rem 4rem;
  table {
    border-collapse: collapse;
    td,
    th {
      padding: 0.5rem 1rem;
      text-align: left;
      border: 0;
      &:first-child {
        font-weight: bold;
      }
    }
    tr {
      cursor: pointer;
      &:nth-child(2n) {
        background: #f5f5f5;
      }
      &:hover {
        background: #d5cff566;
      }
    }
    &.activeState {
      tr {
        cursor: default;
        &:hover {
          background: transparent;
        }
        &:first-child th {
          text-align: center;
        }
        &:nth-child(2n) {
          background: #fff;
        }
      }
      td:first-child {
        background: #f5f5f5;
        font-weight: normal;
      }
    }
  }
}
